﻿body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: 200;
}

html, body {
  height: 100%;
}

.logo-login {
  width: 80px;
  height: auto;
  padding: 0.5rem;
  margin-left: -40px;
  margin-top: -55px;
}

.input-group-text {
  background-color: white !important;
}

.bg-grey-vencedor {
  background-color: #9A9B9C;
}

.form-signin {
  width: 100%;
  max-width: 330px;
}

.bg-gradient {
  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rounded-top-logo {
  border-top-right-radius: 1.5rem !important;
  border-top-left-radius: 1.5rem !important;
}

.rounded-top-logo-secondary {
  border-top-right-radius: 1rem !important;
  border-top-left-radius: 1rem !important;
  padding-top: 2.5rem !important;
}
