body, .wrapper {
  height: 100%;
  min-height: 100vh;
  position: relative;
  font-size: 14px;
  font-weight: 200;
}

.bg-deep-dark {
  background: #282e38;
}

.bg-dark-light {
  background: #323a46;
}

.bg-deep-space {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/**
WRAPPER
*/

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background-size: cover;
  background-position: center center;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

  .sidebar.active {
    margin-left: -260px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
  }

  .sidebar::before {
    opacity: .33;
    background: #000000;
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .sidebar::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #424242;
    background: linear-gradient(to bottom, #424242 0%, #212121 100%);
    background-size: 150% 150%;
    z-index: 3;
    opacity: 0.6;
  }

  .sidebar .sidebar-background {
    background-image: url(../../../../Images/sidebar-1.jpg);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
  }

.main-panel {
  background: rgba(154, 155, 156, 0.15);
  position: relative;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
}

  .main-panel.active {
    width: 100%;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  }

.sidebar, .main-panel {
  overflow: auto;
  max-height: 100%;
  height: 100%;
}

  .sidebar .sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 2.5rem);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
  }

  .main-panel > .content {
    min-height: calc(100% - 5rem);
  }

.sidebar-title, .navbar-sticky, .footer-sticky {
  max-height: 2.5rem !important;
}

.sidebar .nav {
  display: block;
}

  .sidebar .nav .nav-item .nav-link {
    color: #fff;
  }

  .sidebar .nav li .dropdown-menu a, .sidebar .nav li a {
    border-radius: 3px;
    color: #3c4858;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    font-size: 14px;
  }

  .sidebar .nav .nav-item.active > a:not([data-toggle=collapse]) {
    color: #3c4858;
    opacity: 1;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(60,72,88,.4);
  }

.sidebar li.active > a {
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,255,255,.4);
}

.sidebar .nav li.active > [data-toggle=collapse], .sidebar .nav li:hover:not(.active) > a {
  background-color: rgba(255,255,255,.1);
  box-shadow: none;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.sidebar .sidebar-title img {
  width: 30px;
}

.sidebar .sidebar-profile img {
  width: 45px;
  margin-bottom: 0.5rem;
}

.sidebar .sidebar-title .simple-text {
  text-transform: uppercase;
  display: inline-block;
  color: #3c4858;
  white-space: nowrap;
  font-weight: 200;
  overflow: hidden;
  color: #fff;
}

/**
COLLAPSE SIDEBAR
*/

#sidebarCollapse {
  width: 30px;
  height: 30px;
}

  #sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #ffffff;
    /*background: #3c4858;*/
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  }

    #sidebarCollapse span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
    }

    #sidebarCollapse span:nth-of-type(2) {
      opacity: 0;
    }

    #sidebarCollapse span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px);
    }

  #sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }

@media (max-width: 768px) {
  .sidebar {
    margin-left: -260px;
    transform: rotateY(100deg);
  }

    .sidebar.active {
      margin-left: 0;
      transform: none;
    }

  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }

  .main-panel {
    width: 100%;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  }

    .main-panel.active {
      width: calc(100% - 260px);
      transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    }

  #sidebarCollapse.active span {
    margin: 0 auto;
  }

    #sidebarCollapse.active span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
    }

    #sidebarCollapse.active span:nth-of-type(2) {
      opacity: 0;
    }

    #sidebarCollapse.active span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px);
    }
}
